{% extends 'store/layouts/main.html' %}

{% block content%}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
                <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.1s">
                    <h1>Sustainable Development: The Way for Future</h1>
                    <p> Life cycle assessment or LCA is a methodology for assessing environmental impacts associated with all the stages of the life cycle of a commercial product, process, or service </p>
                </div>
                 <div class="col-md-3">
                    <h1>Level -1</h1>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="300" height="315" src="https://www.youtube.com/embed/neAzeAAq0hc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br>
                        <h3>World Overpopulation</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1>Level -2</h1>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="300" height="315" src="https://www.youtube.com/embed/dcBXmj1nMTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br>
                        <h3>Climate Change</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1>Level -3</h1>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="300" height="315" src="https://www.youtube.com/embed/eF1edSg5VP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br>
                        <h3>Earth Melt</h3>
                    </div>
                </div>
            </div>

                
            </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}