{% load static %}
 <div class="container-xxl py-3">
    <div class="container">
        <div class="text-center mx-auto mb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <!-- <p class="fs-5 fw-bold text-primary">Our Projects</p> -->
            <h1 class="display-5 mb-3">Featured Products</h1>
        </div>
      
        <div class="row g-4 portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="{% static 'mainpage/img/new_plant_3.png' %}" alt="" height="300px">
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">Jade Plant</h4>
                        <div class="d-flex">
                            <a class="btn btn-lg-square rounded-circle mx-2" href="http://127.0.0.1:8000/collections/Eco%20Friendly%20Plants/14"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="{% static 'mainpage/img/new_plant4.png' %}" alt="" height="300px">
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">Ceramic Pot </h4>
                        <div class="d-flex">
            
                            <a class="btn btn-lg-square rounded-circle mx-2" href="http://127.0.0.1:8000/collections/Eco%20Friendly%20Plants/15"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="{% static 'mainpage/img/new_recycle.png' %}" alt="">
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">Plastic Jharokha</h4>
                        <div class="d-flex">
                            
                            <a class="btn btn-lg-square rounded-circle mx-2" href="http://127.0.0.1:8000/collections/Recycled%20Plastic%20Products/31"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="{% static 'mainpage/img/new_bag_3.png' %}" alt="">
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">Paper</h4>
                        <div class="d-flex">
                            
                            <a class="btn btn-lg-square rounded-circle mx-2" href="http://127.0.0.1:8000/collections/Eco%20Friendly%20Bags/18"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="{% static 'mainpage/img/steel_cointer.png' %}" alt="">
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">Steel Containers</h4>
                        <div class="d-flex">
                            <a class="btn btn-lg-square rounded-circle mx-2" href="http://127.0.0.1:8000/collections/Eco-friendly%20Storage,%20Containers/45"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="{% static 'mainpage/img/new_storage_3.png' %}" alt="">
                    <div class="portfolio-text">
                        <h4 class="text-white mb-4">Wooden Containers </h4>
                        <div class="d-flex">
                            
                            <a class="btn btn-lg-square rounded-circle mx-2" href="http://127.0.0.1:8000/collections/Eco-friendly%20Storage,%20Containers/46"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>