{% load static %}    
    
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="fw-bold text-primary">Learn and Educate</h1>
                <p class="display-5 fs-5 mb-5">Passionate about environment and creating a Sustainable World.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{% static 'mainpage/img/service-1.jpg' %}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="{% static 'mainpage/img/icon/icon-3.png' %}" alt="Icon">
                            </div>
                            <h4 class="mb-3">How many people can Earth handle?</h4>
                            <p class="mb-4">Overpopulation, waste disposal, climate change, global warming, greenhouse effect.
                            </p>
                            <a class="btn btn-sm" href="{% url 'module1' %}"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{% static 'mainpage/img/service-2.jpg' %}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="{% static 'mainpage/img/icon/icon-6.png' %}" alt="Icon">
                            </div>
                            <h4 class="mb-3">Countdown to Extinction </h4>
                            <p class="mb-4">Process of tracking and optimising energy consumption to conserve usage in a building.
                            </p>
                            <a class="btn btn-sm" href="{% url 'module2' %}"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{% static 'mainpage/img/service-3.jpg' %}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="{% static 'mainpage/img/icon/icon-5.png' %}" alt="Icon">
                            </div>
                            <h4 class="mb-3">Finding Earth's Twin In Space May Be Impossible</h4>
                            <p class="mb-4">Development that meets the needs of the present without compromising the ability of future generations to meet their own needs.
                            </p>
                            <a class="btn btn-sm" href="{% url 'module3' %}"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{% static 'mainpage/img/service-4.jpg' %}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="{% static 'mainpage/img/icon/icon-4.png' %}" alt="Icon">
                            </div>
                            <h4 class="mb-3">Unnatural Calamities </h4>
                            <p class="mb-4">Sum total mass of living organisms such as plants, animals, in a specific unit of area or volume of habitat. Various types of living organisms in a particular environment or ecosystem</p>
                            <a class="btn btn-sm" href="{% url 'module4' %}"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{% static 'mainpage/img/service-5.jpg' %}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="{% static 'mainpage/img/icon/icon-8.png' %}" alt="Icon">
                            </div>
                            <h4 class="mb-3">The air and water that keeps us alive is making us sick</h4>
                            <p class="mb-4">Renewable energy, its origin and how it’s important for our environment.
                            </p>
                            <a class="btn btn-sm" href="{% url 'module5' %}"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{% static 'mainpage/img/service-6.jpg' %}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="{% static 'mainpage/img/icon/icon-2.png' %}" alt="Icon">
                            </div>
                            <h4 class="mb-3">Sustainable Development: The Way for Future</h4>
                            <p class="mb-4">Life cycle assessment or LCA is a methodology for assessing environmental impacts associated with all the stages of the life cycle of a commercial product, process, or service
                            </p>
                            <a class="btn btn-sm" href="{% url 'module6' %}"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->