 <!-- Top Feature Start -->
 <div class="container-fluid top-feature py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                    <div class="d-flex">
                        <div class="ps-3">
                            <h4>ECO-Friendly
                            </h4>
                            <span>100% ECO-Friendly Products
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                    <div class="d-flex">
                        <div class="ps-3">
                            <h4>Sustainability</h4>
                            <span>Sustainability and Growth
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                    <div class="d-flex">
                        <div class="ps-3">
                            <h4>Top Quality </h4>
                            <span>Top Quality and Pocket Friendly</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>